[submodule "TSD_Parent"]
	path = TSD_Parent
	url = https://github.com/DharmendraMali/TSD_Parent.git
[submodule "TSD_Catelog"]
	path = TSD_Catelog
	url = https://github.com/DharmendraMali/TSD_Catelog.git
